[submodule "jena"]
	path = jena
	url = https://github.com/apache/jena.git
[submodule "DataSpaceConnector"]
	path = DataSpaceConnector
	url = https://github.com/drcgjung/DataSpaceConnector.git
	branch = release/0.0.1-SNAPSHOT
[submodule "tractusx"]
	path = tractusx
	url = https://github.com/drcgjung/tractusx.git
	branch = feature/knowledge-agents
